.corpo{
    background-color: coral;
}

.titulo{
    font-size: 50px;color: rgb(255, 255, 255);beckground:rgb(226, 99, 99) ;text-align: center;
}

.text-imc{
    font-size: 50px;
    text-align: center;
}
